@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

:root {
    --brown: #A84718;
    --light: #FFF2E3;
    --dark-brown: #7B3C29;
    --green: #95D387;
    --yellow: #EFCD5D;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    background: var(--light);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-brown);
}

.game-container {
    width: 85vw;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.logo {
    max-width: 500px;
}

.info {
    width: 85vw;
    display:flex;
    justify-content: flex-end;
    gap: 1.5vw;
    margin: -1vh;
}

.info-button, .stats-button, .light-button {
    color: var(--dark-brown);
    transform: scale(1.5);
    cursor: pointer;
}

#hcraes {
    width: 85vw;
    height: 5vh;
    padding:2vw;
    font-size: 1.5em;
    border:none;
    border-radius:0.5vh;
    color: var(--dark-brown);
    /* border-radius:0.3em; */
}

.match-list {
    width: 85vw;
    max-height:50%;
    height: auto;
    overflow: scroll;
    display: none;
    border: 1px solid var(--brown);
    position: absolute;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.match-list::-webkit-scrollbar {
    display: none;
}

.match {
    width: 100%;
    height: 4.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    font-size: 1.2em;
    background: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.match:hover {
    background: var(--light);
}

.row-container, .guess-container {
    width: 85vw;
    height:70%;
    bottom:0;
    z-index: -1;
}

.title-row {
    width:100%;
    height:3vh;
    background: var(--dark-brown);
    font-size:0.9em;
    text-transform: uppercase;
    color: var(--light);
    display:flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.guess-row {
    width:80vw;
    width:100%;
    height:9vh;
    background: var(--light);
    display:flex;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
}

.guess-row-animation {
    animation: enter 0.4s ease-in-out forwards;
    animation-iteration-count: 1;
}

@keyframes enter {
    from {
        transform: translateX(100px);
        opacity:0;
    }
    to {
        transform: translateX(0);
        opacity:1;
    }
}

.guess-box {
    height: 9vh;
    display: flex;
    gap: 1vh;
    align-items: center;
    justify-content: center;
    border-bottom: 0.05vw solid var(--dark-brown);
}

.student-name {
    width: 14vw;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    padding: 0.5vw;
}

.house {
    width: 9vw;
}
.sort-year {
    width: 5vw;
}
.quidditch {
    width: 11vw;
}
.gender {
    width: 5vw;
}
.achievements {
    width: 13vw;
    flex-direction: column;
}
.ps {
    width: 4vw;
}
.cos {
    width: 4vw;
}
.poa {
    width: 4vw;
}
.gof {
    width: 4vw;
}
.ootp {
    width: 4vw;
}
.hbp {
    width: 4vw;
}
.dh {
    width: 4vw;
}

.yellow {
    height:9vh;
    background: var(--yellow);
}

.green {
    background: var(--green);
}

.win, .lose, .stats{
    position: absolute;
    width: 50vw;
    height: 40vh;
    top: 30vh;
    background: var(--light);
    color: var(--dark-brown);
    border-radius: 1em;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    font-size:2em;
    font-weight: 700;
    animation: win 0.5s ease-in-out;
}

.instr {
    position: absolute;
    width: 50vw;
    height: 45vh;
    top: 25vh;
    background: var(--light);
    color: #000;
    border-radius: 1em;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.1);
}

.lang {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.highlight-g {
    color: var(--green);
    font-weight: 700;
}

.highlight-y {
    color: var(--yellow);
    font-weight: 700;
}

h2 {
    font-size:2em;
    font-weight: 700;
    color: var(--dark-brown);
    padding-top: 3vh;
}

.instructions {
    width: 80%;
    font-size: 1.2em;
}

li {
    padding-top: 2vh;
}

.secondary-list li {
    padding-top: 0.2vh;
    margin-left: 1vw;
    font-size: 0.9em;
}

.smaller {
    font-size: 0.9em;
}

.win-close, .lose-close, .instr-close, .stats-close {
    color: var(--yellow);
    transform: scale(1.5);
    position: absolute;
    top: 3vh;
    right: 3vw;
    cursor: pointer;
}

.win-text {
    color: var(--dark-brown);
}

.instr-close {
    transform: scale(3);
}

.stats {
    flex-direction: row;
}

.stat {
    width: 30%;
    height: 70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat p {
    font-size: 0.7em;
    text-transform: uppercase;
}

.stat-number {
    color: var(--dark-brown);
    font-size: 1.7em;
}

.stat-border {
    border-right: 1px solid var(--dark-brown);
}

.Gryffindor {
    color: #ae0001;
}

.Slytherin {
    color: #2a623d;
}

.Ravenclaw {
    color: #222f5b;
}

.Hufflepuff {
    color: var(--yellow);
}

@media (max-width: 1300px) {
    #hcraes, .match-list, .info {
        width: 80vw;
    }

    .logo {
        width: 80vw;
    }

    .info {
        gap: 3vw;
    }

    .guess-container, .row-container {
        width: 100vw;
        height: 70%;
        font-size: 1em;
    }

    .student-name {
        width: 20vw;
    }
    
    .house {
        width: 9vw;
    }
    .sort-year {
        width: 6vw;
    }
    .quidditch {
        width: 13vw;
    }
    .gender {
        width: 7vw;
    }
    .achievements {
        width: 12vw;
        flex-direction: column;
    }
    .ps {
        width: 5vw;
    }
    .cos {
        width: 5vw;
    }
    .poa {
        width: 5vw;
    }
    .gof {
        width: 5vw;
    }
    .ootp {
        width: 5vw;
    }
    .hbp {
        width: 5vw;
    }
    .dh {
        width: 5vw;
    }

    .win, .lose, .instr, .stats {
        width: 90vw;
    }

    .win-close, .lose-close, .stats-close, .instr-close {
        right: 3vh;
    }
}

@media (max-width: 480px) {
    .guess-container {
        height: 75%;
    }

    .instr {
        top: 25vh;
        height: 50vh;
    }

    h2 {
        font-size: 1.4em;
    }

    .title-row {
        font-size: 0.5em;
    }

    .guess-box {
        font-size: 0.7em;
    }

    .stats {
        font-size: 1.7em;
    }

    #hcraes {
        font-size: 1em;
    }

    .win-text {
        font-size: 0.8em;
    }

    .student-name {
        width: 16vw;
    }

    .house {
        width: 14vw;
        border-left: 1px solid var(--dark-brown);
    }

    .sort-year {
        width: 7vw;
        border-left: 1px solid var(--dark-brown);
    }

    .gender {
        width: 9vw;
        border-left: 1px solid var(--dark-brown);
    }

    .achievements {
        border-left: 1px solid var(--dark-brown);
    }

    .quidditch {
        border-left: 1px solid var(--dark-brown);
    }

    .ps {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .cos {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .poa {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .gof {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .ootp {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .hbp {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
    .dh {
        width: 4.5vw;
        border-left: 1px solid var(--dark-brown);
        text-transform: none;
    }
} 